* {
    margin: 0;
    padding: 0;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.d-flex {
    display: flex;
}

.h100 {
    height: 100px;
}

.h200 {
    height: 200px;

}

.h300 {
    height: 300px;

}

.w-100 {
    width: 100%;
}

.w1200 {
    width: 1200px;
}

.aic {
    align-items: center;
}

.jcd {
    justify-content: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.swiper-wrapper {
    width: 100000px;
}

.ofh {
    overflow: hidden;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}